.banner .baner-mobile{
    width: 100%;
}

.banner .banner-desktop{
    display: none;
}
@media(min-width: 765px){
    .banner .banner-desktop{
        display: block;
    }
    
    .banner .baner-mobile{
        display: none;
    }

    .banner .banner-desktop{
        width: 100%;
    }
}