.container-New{
    margin-top: 50px;
    padding: 20px 10px;
    background-color: hsl(240, 100%, 5%);
}

.container-New h1{
    margin-bottom: 15px;
    color: hsl(35, 77%, 62%);
}

.container-New div{
    padding: 20px 0px;
    margin-bottom: 25px;
}

.container-New div:nth-child(3){
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.container-New h2{
    margin-bottom: 10px;
    color: hsl(36, 100%, 99%);
}

.container-New p{
    margin-bottom: 15px;
    color: hsl(233, 8%, 79%);
}

@media(min-width: 735px){
    .container-New{
        margin-top: 0px;
    }
}